.sobre
  @include respond(tab-land)
    height: 130vh

.sobre_text
  width: 30%
  font-size: 1.9rem
  text-align: center

  @include respond(tab-land)
    width: 60%

  &--3, &--5
    margin-top: 1rem
